
$cursive: 'Abril Fatface', cursive;
$sans-serif: 'Droid Sans', sans-serif;

$base-font-family: $sans-serif;
$header-font-family: $cursive;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1);

// Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

// Background Color
$base-background-color: $white;


// Font Colors
$base-font-color: $white;