footer {
    background: $dark-gray;
    color: $white;
    .container {
        //@include outer-container;
        //padding: 0 2em 0 2em;
        .content {
            @include span-columns(5);
            @include media($bp-large) {
                @include span-columns(3);
                &:nth-of-type(2) {
                    @include shift(1);
                    @include span-columns(4);
                }
                &:nth-of-type(3) {
                    @include shift(1);
                    @include span-columns(3);
                }
            }
        }
        ul {
            list-style-type: none;
            margin-left: 0px;
            padding-left: 0px;
            padding-top: 1em;
            li {
                margin: 0 auto 0.5em;
            }
        }
    }
}
