//Mobile first - Global Settings
$susy: (columns: 6, gutters: 1, gutter-position: inside);

.container {
    @include outer-container;
    overflow: hidden;
    position: relative;
    padding: 0 2em 0 2em;
}

.wrapper {
    background-color: $white;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 75px;
    @include media($bp-large) {
        padding-top: 90px;
    }
}

.span-2 {
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(2 of 12);
    }
}

.span-3 {
    @include span-columns(5);
    position: relative;
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }
}

.span-4 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }
}

.span-5 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(5 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-6 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-7 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(7 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-8 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(8 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-9 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(9 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
    header & {
        margin-right: 0;
    }
}

.span-10 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(10 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-11 {
    @include span-columns(5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(11 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.span-12 {
    @include span-columns(4.5);
    overflow: hidden;
    position: relative;
    @include media($bp-large) {
        @include span-columns(12 of 12);
    }

    &.center {
        float: none;
        margin: 0 auto;
    }
}

.center {
    float: none;
    margin: 0 auto;
}

.block-grid-2 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(6 of 12);
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.block-grid-3 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(4 of 12);
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.block-grid-4 {
    @include row;
    @include omega;
    @include span-columns(5);
    @include media($bp-large) {
        @include span-columns(3 of 12);
    }

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.login-button {
    @include media($bp-large) {
        //margin-right: 10%;
        text-align: right;
        margin-top: 2em;
        width: 18.70196%;
        margin-right: 0;
    }

    @media (min-width: 675px) and (max-width: 879px) {
        margin-right: 15%;
        text-align: right;
        width: 50%;
    }
}
