section[role=slider] {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/bg-home.jpg") no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: left center;
    color: $white;
    height: 100vh;
    hgroup {
        text-align: center;
        text-transform: uppercase;
        padding-left: 2em;
        padding-right: 2em;
        @include media($bp-large) {
            padding-left: 4em;
            padding-right: 4em;
        }
    }
    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}