#isotope-container {
    .filters {
        text-align: center;
        a {
            //@include em(16px);
            background: none;
            border: none;
            color: $body_font;
            display: inline-block;
            font-weight: bold;
            margin-top: 20px;
            min-width: 100px;
            outline: none;
            padding-right: 40px;
            text-decoration: none;
            text-transform: uppercase;
            @include media($bp-large) {
                //@include em(23px);
                margin-top: 10px;
            }

            &:hover {
                color: $header_link;
            }
            &.is-checked {
                color: $header_link;
            }
        }
    }
    .isotope {
        padding-bottom: 100px;
        padding-top: 30px;
        .element-item {
            border: 1px solid #E0D9D9;
            height: 375px;
            margin: 20px 54px 20px 0px;
            width: 280px;
            @include media($bp-large) {
                width: 223px;
            }

            & .element-img-container:hover .element-img {
                @include opacity(0.7);
                @include transition(opacity 0.5s ease-in-out);
            }
            .element-img {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 225px;
                overflow: hidden;
                position: relative;
                width: 100%;
                img {
                    height: 100%;
                    position: absolute;
                    width: 100%;
                }
                &:after {
                    background: url("../images/feed-img-right.png") no-repeat;
                    content: '';
                    height: 91px;
                    position: absolute;
                    right: 0;
                    top: 0px;
                    width: 80px;
                }
            }
            &.blog {
                & .element-img:after {
                    background: none;
                }
            }
            &.virtual_farm_tour {
                & .element-img:after {
                    background: none;
                }
                & .element-img img {
                    width: auto;
                }
            }
            &.youtube {
                width: 300px;
                @include media($bp-large) {
                    width: 500px;
                }

                & .element-img {
                    img {
                        width: 100%;
                    }
                    &:after {
                        background: url("../images/icon-video.png") no-repeat;
                        content: '';
                        height: 96px;
                        left: 0;
                        margin-left: auto;
                        margin-right: auto;
                        position: absolute;
                        top: 25%;
                        width: 95px;
                    }
                }
                .element-title {
                    width: 270px;
                    @include media($bp-large) {
                        width: 470px;
                    }
                }
            }
            &.recipes {
                & .element-img:after {
                    background: none;
                }
                & .element-img img {
                    width: auto;
                }
            }
            &.google {
                & .element-img:after {
                    background: none;
                }
            }
            &.pinterest {
                & .element-img:after {
                    background-position: -81px 0;
                }
            }
            &.instagram {
                & .element-img:after {
                    background-position: -162px 0;
                }
            }
            &.facebook {
                & .element-img:after {
                    background-position: -243px 0;
                }
            }
            &.connect {
                color: $white;
                height: 355px;
                text-align: center;
                a {
                    display: block;
                    height: 105px;
                    padding-top: 250px;
                    text-decoration: none;
                    &:hover {
                        color: $white;
                    }
                }
                &.connect-twitter {
                    background: url(images/connect-twitter.jpg) top center;
                }
                &.connect-pinterest {
                    background: url(images/connect-pinterest.jpg) top center;
                }
                &.connect-instagram {
                    background: url(images/connect-instagram.jpg) top center;
                }
                &.connect-facebook {
                    background: url(images/connect-facebook.jpg) top center;
                }
                &.connect-newsletter {
                    background: url(images/connect-newsletter.jpg) top center no-repeat;
                    height: 355px;
                    padding-top: 0px;
                    text-align: left;
                    width: 280px;
                    @include media($bp-large) {
                        width: 500px;
                    }

                    a {
                        height: 0;
                        padding-top: 0;
                    }
                    .span-3 {
                        //@include em(16px);
                        padding-top: 40px;
                        @include media($bp-large) {
                            //@include em(28px);
                        }
                    }
                }
                &.connect-gplus {
                    background: url(images/connect-gplus.jpg) top center;
                }
                &.connect-youtube {
                    background: url(images/connect-youtube.jpg) top center;
                }
            }
            .element-title {
                background-color: #363636;
                height: 120px;
                padding: 15px;
                width: 250px;
                @include media($bp-large) {
                    width: 193px;
                }

                p {
                    //@include em(12px);
                    color: #FFF;
                    line-height: 1em;
                    text-transform: uppercase;
                    &.title {
                        //@include em(16px);
                        a {
                            border-bottom: 1px solid $white;
                            text-decoration: none;
                            text-transform: none;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
            &.twitter {
                background: url(images/feed-twitter.jpg);
                height: 355px;
                .element-img {
                    display: none;
                }
                .element-title {
                    background: none;
                    position: relative;
                    &:after {
                        background: url("images/feed-img-right.png") no-repeat;
                        content: '';
                        height: 91px;
                        position: absolute;
                        right: 0;
                        top: 0px;
                        width: 80px;
                    }
                }
            }
        }
    }
}
