/*! Pushy - v0.9.1 - 2013-9-16 */
.main-menu-desktop {
    display: none;
    @include media($bp-large) {
        display: block;
        text-align: right;
    }

    ul {
        float: right;
        list-style-type: none;
        margin-top: 1.4em;
        margin-bottom: 0px;
        li {
            display: inline;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            margin-left: 0;
            @include media($bp-large) {
                margin-left: 2em;
            }

            a {
                color: $blue;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1em;
                margin-left: 0;
                &:hover {
                    color: $medium-gray;
                }
                &.current {}
            }
        }
    }
}

/* Site Overlay */

.site-overlay {
    bottom: 0;
    display: none;
    position: fixed;
    right: 15.625em;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*
Nav Panel
======================================
*/

.menu-panel {
    -webkit-overflow-scrolling: touch;
    background: #333332;
    height: 100%;
    overflow: auto;
    padding-top: 75px;
    position: fixed;
    right: -15.625em;
    top: 0;
    width: 15em;
    z-index: 9999;
    ul {
        margin: 0;
        padding-left: 0;
        li {
            a {
                color: #b3b3b1;
                display: block;
                padding: 10px 30px 10px 0;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

#nav-toggle {
    cursor: pointer;
    display: block;
    padding: 10px 35px 16px 0px;
    position: absolute;
    right: 30px;
    top: 25%;
    @include media($bp-large) {
        display: none;
    }

    span {
        background: $blue;
        content: '';
        cursor: pointer;
        display: block;
        height: 5px;
        position: absolute;
        width: 35px;
    }
}

#nav-toggle span:before, #nav-toggle span:after {
    background: $blue;
    content: '';
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 35px;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    @include transition(all 500ms ease-in-out);
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    background: $blue;
    top: 0;
}

#nav-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
