nav {
    @include span-columns(3);
    float: right;
    @include media($bp-large) {
        padding-right: 2em;
    }

    ul {
        float: right;
        list-style-type: none;
        margin-top: 1.3em;
        li {
            display: inline;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8em;
            margin-left: 0;
            @include media($bp-large) {
                margin-left: 2em;
            }

            a {
                color: $blue;
                &:hover {
                    color: $medium-gray;
                }
                &.current {}
            }
        }
    }
}
