.tabs {
	.tab-header {
		list-style: none;
		padding: 0 0 0 5px;
		margin: 50px 0 30px;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #e5e3df;
		li {
			display: inline-block;
			position: relative;
			z-index: 0;
			margin: 0 5px 0 -5px;
			padding: 0 2em 0 0;
			border-right:1px solid #e5e3df;
			a {
				color:$black;
				&.active {
					color: #985d14;
				}
			}
		}
	}
	.tab-content {
		.tab {
			display:none;
			&.active-tab {
				display:block;
			}
		}
	}
}