.woocommerce {
    &.single-product {
        section[role=main] {
            padding: 20px 0 50px;
        }
    }
    .button {
        @extend %button;
        @include appearance(none);
        border: none;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    .loader {
        margin: 50px auto;
        text-align: center;
        top: 40%;
        left: 0;
        @extend %button;
        @include appearance(none);
        border: none;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        display: block;
        width: 200px;
        .fa {
            font-size: 3em;
            &:before {
                content: "\f110";
            }
        }
    }
    .sidebar {
        padding-bottom: 80px;
        h6 {
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: 1.5em;
        }
        .filter-actions {
            h6 {
                font-size: 0.8em;
                margin-top: 0px;
            }
        }
    }
}

.login-button {
    a {
        color: $blue;
        &:hover {
            color: $medium-gray;
        }
    }
}

.cart-contents {
    padding-right: 20px;
    .icon-shopping-cart {
        &:before {
            content: "\f07a";
        }
    }
}

.back-to-products {
    display: block;
    padding-bottom: 50px;
}

.breadcrumb {
    margin-top: 0.5em;
}
